
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    background: chocolate;
}

nav{
    background: saddlebrown;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border-bottom: 2px solid grey;
}

nav a{
    padding: 10px;
    color: #FFFDD0;
    font-weight: 300;
    text-transform: uppercase;
}

nav a:hover{
    color: orange;
    text-decoration: none;
}

nav div{
    display: flex;
}

nav .logo{
    font-size: 24px;
    font-weight: bold;
}


    .dContainer{
        font-family: 'Raleway', sans-serif;
    }

    .dForm{
        background-color: #636363;
        color: white;
        padding: 20px;
        border-radius: 3px;
        display: inline-block;
        box-shadow: inset 0px 0px 5px 0px black;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .dP{

        font-size: 16px;
        margin-bottom: 0;
    }
    .dInput{
        padding: 5px 10px;
        border: 1px solid orange;
        border-radius: 3px;
        width: 100%;
        min-width: 300px;
        max-width: 400px;
        margin-bottom: 15px;
    }
    .dInput:focus{  
        outline-color: green;
    }

    .dBtn{
        padding: 10px 10px;
        background-color: lightgreen;
        border-radius: 10px;
        border: 1px solid black;
        cursor: pointer;
    }
    .dErr{
        color: red;
        padding: 10px;
    }